fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic-settings
python-dotenv
requests
httpx
shopifyapi
qdrant-client
langchain
langgraph
google-generativeai
langchain-google-genai
pydantic
email-validator
asyncio
stream-chat
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt
authlib
itsdangerous
pyotp
qrcode[pil]
redis
